<html lang="es" xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">

    <!--Mostrar mensaje de confirmacion en caso de exito -->
    <div th:if="${msg != null}">

        <script>
            Swal.fire({
            title: "Confirmacion",
            text: '[[${msg}]]'
            icon: "success"
        </script>

    </div>

    <!--Mostrar mensaje de error en caso de errores-->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
            title: "Error",
            text: '[[${error}]]'
            icon: "error"
        </script>
    </div>



    <h1>Listado de Directores</h1>
    <a th:href="@{/directores/create}" class="btn btn-outline-primary">Añadir un nuevo director</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Nacionalidad</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${directores}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.genero}"></td>
            <td th:text="${item.nacionalidad}"></td>
            <td>
                <a th:href="@{/directores/details/{id}(id=${item.id})}" class="btn btn-outline-secondary">Detalles</a>
                <a th:href="@{/directores/edit/{id}(id=${item.id})}" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/directores/remove/{id}(id=${item.id})}" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumbers : ${pageNumbers}">
                <a class="page-link" th:href="@{|/directores?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>