<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar Actor/Actriz</h1>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2" >ID</dt>
            <dd class = "col-sm-10" th:text="${actores.id}"></dd>

            <dt class = "col-sm-2">Nombre</dt>
            <dd class = "col-sm-10" th:text="${actores.nombre}"></dd>

            <dt class = "col-sm-2">Genero</dt>
            <dd class = "col-sm-10" th:text="${actores.genero}"></dd>

            <dt class = "col-sm-2">Nacionalidad</dt>
            <dd class = "col-sm-10" th:text="${actores.nacionalidad}"></dd>

            <dt class = "col-sm-2">Fecha de Nacimiento</dt>
            <dd class = "col-sm-10" th:text="${actores.fechaNacimiento}"></dd>

            <dt class = "col-sm-2">Fecha de Fallecimiento</dt>
            <dd class = "col-sm-10" th:text="${actores.fechaFallecimiento}"></dd>

        </dl>

        <form th:action="@{/actores/delete}" method="post">
            <input type="hidden" name="Id" th:value="${actores.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger"> |
            <a th:href="@{/actores}">Regresar</a>
        </form>

    </div>
</div>